<div class="config-groups">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <% can.each(groups, function(group, i) { %>
      <div class="panel panel-default config-group-panel <%= i === 0 ? 'panel-selected':'' %> " id="configgroup-<%=group.id%>">
        <div class="panel-heading" role="tab">
        <h4 class="panel-title">
            <div class="panel-head-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse<%=group.id%>" aria-expanded="true">
              <%= group.name%>
              </div>
        </h4>
      </div>
      <div id="collapse<%=group.id%>" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
          <div class="menu">
            <span id="download_<%= group.id%>" action="download" class="item btn btn-xs">Download</span>
            <span id="upload_<%= group.id%>" action="upload" class="item btn btn-xs">Upload</span>
            <span id="duplicate_<%= group.id%>" action="duplicate" class="item btn btn-xs">Duplicate</span>
            <span id="delete_<%= group.id%>" action="delete" class="item btn btn-xs">Delete</span>
          </div>
        </div>
      </div>
    </div>
      <% }); %>
  </div>
</div>

