<div class="app-switcher"></div>
<div id="main-navbar" class="navbar navbar-inverse" role="navigation">
    <div class="navbar-inner">
        <div class="navbar-header navbar-<%=navBarModel.logo.position%>">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse"><i class="navbar-icon fa fa-bars"></i></button>
            <a class="navbar-brand pull-<%=navBarModel.logo.position%>" ><img alt="<%=orgName%>" src="images/logo/<%=orgName%>.png" height="34"/>
            </a>
        </div>
        <div id="main-navbar-collapse" class="collapse navbar-collapse main-navbar-collapse">
            <ul id="nav-option-list" class="nav navbar-nav right-navbar-nav navbar-<%=navBarModel.userOptions.position%>">
                <li><a>Welcome <%= userName%></a></li>
            </ul>
            <ul id="nav-page-list" class="nav navbar-nav navbar-<%=navBarModel.tabs.position%>">
                <% mainMenuItems.forEach( function(mainMenuItem) { %>
                <% if (mainMenuItem.menuItem.visible == undefined ? true : mainMenuItem.menuItem.visible) { %>
                <% if (mainMenuItem.menuItem.dropdownMenuItems==null) { %>
                <li><a id="menu-<%=mainMenuItem.menuItem.id%>" href="#!<%= mainMenuItem.menuItem.id %>"><%= mainMenuItem.menuItem.text %></a></li>
                <% } else { %>
                <li class="dropdown">
                    <a id="menu-<%=mainMenuItem.menuItem.id%>" class="dropdown-toggle" data-toggle="dropdown" href="#"><%= mainMenuItem.menuItem.text %><b class="caret"></b></a>
                    <ul class="dropdown-menu" >
                        <% mainMenuItem.menuItem.dropdownMenuItems.forEach( function(dropdownMenuItem) { %>
                        <li >
                            <a href="#!<%= dropdownMenuItem.toPage %>" id='menu-<%= dropdownMenuItem.toPage %>' data-topage='<%= dropdownMenuItem.toPage %>'><%= dropdownMenuItem.text %></a>
                        </li>
                        <% }); %>
                    </ul></li>
                <% }%>
                <% }%>
                <% }); %>
            </ul>
        </div>
    </div>
</div>